@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Raleway:wght@300;500;700&family=Sofia+Sans:wght@300;500;700&display=swap');

html,
body {
  font-family: 'Sofia Sans', sans-serif;
  background: #202124;
  font-size: 16px;
}

a {
  color: #65d8ec;
  text-decoration: none;
}

ul li {
  list-style: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  padding: 20px 10%;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  color: rgb(224, 221, 221);
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0;
  color: rgb(180, 178, 178);
}

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }

  footer {
    flex-direction: column;
  }
}

